// Grayscale
$black: #000;
$gray: #484c51;
$gray-medium: #787f87;
$gray-light: #f3f3f3;
$light: #f8fafc;
$white: #fff;

// brand
$blue: #00c4f5;
$blue-light: #c2f3ff;

$emerald: #175242;
$emerald-light: #bfede0;

$pink: #f2929d;
$pink-light: #fbdade;

$red: #f04542;
$red-light: #f8b5b4;

$orange: #ff8b47;
$orange-light: #ffcbad;
