// Grayscale
$black:       #000;
$gray:        #484c51;
$gray-medium: #787f87;
$gray-light:  #f3f3f3;
$light:       #f8fafc;
$white:       #fff;

// brand
$pink:   pink;
$red: red;
$yellow:  yellow;
$blue:      blue;
$green:     green;