html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $gray-light;
  font-family: $font-text;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
