.homepage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    position: absolute;
  }

  .mail-link {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;

    &:hover {
      &:before,
      &:after {
        content: "*";
        color: $pink;
      }
    }
  }

  .intro {
    img {
      width: 136px;
      margin: auto;
      display: block;
    }
  }

  .description {
    margin-top: 16px;
    text-align: center;
  }

  .projects {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      position: relative;
      z-index: 1;

      &:hover {
        &:before,
        &:after {
          content: "*";
          color: $green;
        }
      }
    }
  }
}
