.homepage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  canvas { position: absolute; }

  .mail-link {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;

    &:hover {
      &:before,
      &:after {
        content: '*';
        color: $pink;
      }
    }
  }

  .intro {
    .media-block { 
      margin: auto; 
      display: flex;
      justify-content: center;
    }

    img { width: 136px; }
  }

  .description {
    margin-top: 16px;
    text-align: center;
  }

  .projects {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      position: relative;
      z-index: 1;

      &:hover {
        &:before,
        &:after {
          content: '*';
          color: $green;
        }
      }
    }
  }
}